<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero placeat enim, vitae rerum ea voluptatem repudiandae itaque pariatur voluptatum vero eveniet molestias, nam nobis suscipit aliquam aperiam necessitatibus, in quis. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Ducimus dolores autem veniam debitis perferendis accusamus id recusandae, itaque excepturi quaerat, voluptatum aspernatur ullam modi, quis non quibusdam necessitatibus obcaecati omnis! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Consectetur incidunt sed id? Voluptates quisquam qui hic nostrum assumenda architecto laboriosam quibusdam saepe molestias dolore laborum possimus, quasi et fuga laudantium.
</p>